/* You can add global styles to this file, and also import other style files */
* {
    font-family: Roboto, Helvetica, sans-serif;
  }

* .page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  padding: 1rem;
}

* h2 {
    color: #FFFFFF;
    font-size: 32px;
    font-weight: 100;
    text-align: center;
    padding: 8px 10px 10px 10px;
    font-stretch: ultra-expanded;
    border-radius: 10px;
    background: #04838F;
    width: fit-content;
  }

* p {
    font-weight: 100;
    font-size: 18px;
    text-align: center;
    padding: 0px 10px;
    margin: 8px 0px;
  }

* .flex-container {
    display: flex;
    gap: 50px;
    justify-content: center;
}

* .text-container {
    border-radius: 10px;
    border: 2px solid #04838F;
    background: #FFFFFF;
  }  

* .chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

* .pie-label {
    font-size: 26px !important;
    font-weight: 400;
}

* ngx-tooltip-content.ngx-charts-tooltip-content.type-tooltip {
  background-color: #04838F;
  border-radius: 5px;
  padding: 5px;
  display: flex;
}

* ngx-tooltip-content.ngx-charts-tooltip-content.type-tooltip .tooltip-caret.position-top {
  border-top: 20px solid #04838F;
}

* .tooltip-text {
  font-weight: 100;
  font-size: 18px;
  text-align: center;
  margin: 2px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

* button {
  color: #FFFFFF;
  background-color: #04838F;
  font-weight: 100;
  font-size: 18px;
  border-radius: 10px;
  border: 2px solid #04838F;
  padding: 5px;
}
